/* Body */
body {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 20px;
}
footer {font-size:0.8em;}
.hero-unit .corner {
	height:20px;
	width:20px;
	-webkit-transition: all 0.5s ease-out;
	-moz-transition: all 0.5s ease-out;
	-ms-transition: all 0.5s ease-out;
	-o-transition: all 0.5s ease-out;
	transition: all 0.5s ease-out;
}
.cornerTopLeft{position:absolute;top:0;left:0;border-top:1px solid #999;border-left:1px solid #999;}
.cornerTopRight{position:absolute;top:0;right:0;border-top:1px solid #999;border-right:1px solid #999;}
.cornerBottomLeft{position:absolute;bottom:0;left:0;border-bottom:1px solid #999;border-left:1px solid #999;}
.cornerBottomRight{position:absolute;bottom:0;right:0;border-bottom:1px solid #999;border-right:1px solid #999;}

/* Menu */
#betaTriangle {
	width: 0;
	height: 0;
	border-top: 40px solid white;
	border-right: 40px solid transparent;
	position:absolute;
	top:0;
	left:0;
}
#betaText {
	color:#5cb85c;
	font-weight:bold;
	font-size:10px;
	transform:rotate(-45deg);
	-ms-transform:rotate(-45deg); /* IE 9 */
	-webkit-transform: rotate(-45deg); 
	-moz-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	position:absolute;
	padding-top: 5px;
}
.pure-menu-heading {text-align:center;}
#menu li.active a{color:white;}

/* Pronos view */
#pickTeam {margin-bottom:5px;}
#pronos .wrapper{border-bottom:1px solid #eeeeee;margin:5px 0px}
#pronos .gameWrapper{font-size: 18px;font-weight: bold;color: #333;padding:5px 0px;line-height:45px;}
#pronos .pronosWrapper{display:none;}
#pronos .schedule, #pronos .prono{display:inline;}
#pronos .prono, #pronos .scores{margin-left:25px;}
#pronos .icon-chevron-down, #pronos .icon-chevron-up{float:right;margin-top:15px;}

/* Homepage */
.pronosTable {font-size:15px;}
.pronosTable .control-label {display:inline;}
.pronosTable select {margin: 0px 5px;}
.pronosTable .teamA {text-align: right;}
.rowGame, .rowProno {border-spacing: 2px;border-bottom: 1px solid #dddddd;}
.pronosTable .schedule {float:left;}
.pronosTable .separation {float:left;margin-left:2%}
/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
	.hero-unit {padding:30px;}
	.pronosTable .span12 {width: 100%;*width: 99.94680851063829%;}
  .pronosTable .span11 {width: 91.43646408839778%;*width: 91.38327259903608%;}
  .pronosTable .span10 {width: 82.87292817679558%;*width: 82.81973668743387%;}
  .pronosTable .span9 {width: 74.30939226519337%;*width: 74.25620077583166%;}
  .pronosTable .span8 {width: 65.74585635359117%;*width: 65.69266486422946%;}
  .pronosTable .span7 {width: 57.18232044198895%;*width: 57.12912895262725%;}
  .pronosTable .span6 {width: 48.61878453038674%;*width: 48.56559304102504%;}
  .pronosTable .span5 {width: 40.05524861878453%;*width: 40.00205712942283%;}
  .pronosTable .span4 {width: 31.491712707182323%;*width: 31.43852121782062%;}
  .pronosTable .span3 {width: 25%;*width: 25%;}
  .pronosTable .span2 {width: 14.3646408839779%;*width: 14.311449394616199%;}
  .pronosTable .span1 {width: 5.801104972375691%;*width: 5.747913483013988%;}
  .pronosTable [class*="span"]{float:left;}
  #pronos .gameWrapper{position:relative;font-size:15px;}
  #pronos i {position:absolute;right:0;top:0;}
}
@media (max-width: 480px) {
	body {padding-right:10px;padding-left:10px;}
	h2{font-size:24px;}
	.hero-unit {padding:15px;}
	.pronosTable .span3 {width: 26%;*width: 26%;}
}
/* Homepage Widgets */
#rankingWidget{
	color : #777;
	border-left:1px solid #777;
	margin: 0em 0em 0.5em 1em;
	padding-left:0.25em;
}
#rankingWidget ul {
	font-size: 10px;
	list-style-type: none;
	position:static;
	visibility:visible;
	border-top:none!important;
}
#rankingWidget ul li {text-overflow:ellipsis;white-space:nowrap;}