/* Body */
body {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 20px;
}
footer {font-size:0.8em;}
.hero-unit .corner {
	height:20px;
	width:20px;
}
@media (max-width: 1024px) {
	.hero-unit{padding:20px 20px;}
	.container-fluid {padding:0px 10px;}
}
@media (max-width: 767px) {
	.hero-unit{padding:20px 10px;}
}
.cornerTopLeft{position:absolute;top:0;left:0;border-top:1px solid #999;border-left:1px solid #999;}
.cornerTopRight{position:absolute;top:0;right:0;border-top:1px solid #999;border-right:1px solid #999;}
.cornerBottomLeft{position:absolute;bottom:0;left:0;border-bottom:1px solid #999;border-left:1px solid #999;}
.cornerBottomRight{position:absolute;bottom:0;right:0;border-bottom:1px solid #999;border-right:1px solid #999;}
@media (max-width: 480px) {
	body {padding-right:5px;padding-left:5px;}
	.container-fluid {padding:0px;}
	h2{font-size:24px;}
	.hero-unit {padding:10px;}
}
/* Menu */
#menu h1{margin:0;font-size:inherit;}
#AdMenu{padding:0.3em 0.6em;}
#betaTriangle {
	width: 0;
	height: 0;
	border-top: 40px solid white;
	border-right: 40px solid transparent;
	position:absolute;
	top:0;
	left:0;
}
#betaText {
	color:#5cb85c;
	font-weight:bold;
	font-size:10px;
	transform:rotate(-45deg);
	-ms-transform:rotate(-45deg); /* IE 9 */
	-webkit-transform: rotate(-45deg); 
	-moz-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	position:absolute;
	padding-top: 5px;
}
.pure-menu-heading {text-align:center;}
#menu li.active a{color:white;}

/* Pronos view */
#pickTeam {margin-bottom:5px;}
#pronos .wrapper{border-bottom:1px solid #eeeeee;margin:5px 0px;overflow: hidden;}
#pronos .gameWrapper{font-size: 18px;font-weight: bold;color: #333;padding:5px 0px;line-height:45px;overflow:hidden;}
#pronos .pronosWrapper{display:none;font-size:14px;}
#pronos .pronoWrapper{overflow:hidden;}
#pronos .pronoWrapper.active{background-color:#d9edf7;border-radius: 3px;}
#pronos .pronoSchedule, #pronos .schedule {margin-left:5px}
#pronos .teamA {text-align: right}
#pronos .teamA span.score{margin-left:15px;}
#pronos .teamB span.score{margin-right:15px;}
#pronos .teamA, #pronos .teamB, #pronos .separation, #pronos .pronoSchedule {padding-top:5px;}
#pronos .schedule, #pronos .prono, #pronos .control-label{display:inline;}
#pronos .schedule, #pronos .pronoSchedule {width:150px;}
#pronos .pronoSchedule, #pronos .schedule{float:left;}
#pronos .prono, #pronos .scores{margin-left:25px;min-width:130px;}
#pronos .icon-chevron-down, #pronos .icon-chevron-up{float:right;margin-top:15px;}
#pronos .schedule {min-height:45px;line-height:45px;}
#pronos .separation {float:left;margin-left:2%}
#toppronos {display:none}

@media (max-width: 1024px) {
	.nav-tabs.nav-justified {padding: 0 10px;}
	#pronos .schedule, #pronos .pronoSchedule {width:130px;}
	#pronos .gameWrapper .separation {display:none;}
	#pronos .gameWrapper .teamA,#pronos .gameWrapper .teamB{width:92%;text-align:left;margin-left:2%!important;}
	#pronos span.score{float:right;}
	#pronos .gameWrapper .teamA span.score{margin-left:0px;}
	#pronos .gameWrapper .teamB span.score{margin-right:0px;}
	#pronos .teamsContainer{border-left: 1px solid #dddddd;float:left;width:65%;margin-right:4%}
	#pronos .pronoWrapper .teamA{width:85%;text-align:left;margin-left:2%!important;}
	#pronos .pronoWrapper .teamB{width:5%;text-align:left;margin-left:2%!important;}
}
@media (max-width: 767px) {
  #pronos .gameWrapper{position:relative;font-size:14px;}
  #pronos i {position:absolute;right:0;top:0;}
  #pronos .pronoWrapper .teamA, #pronos .pronoWrapper .teamB{float:left;}
}
@media (max-width: 480px) {
	.nav-tabs.nav-justified {padding: 0;}
	#pronos .pronoSchedule{display:none;}
	#pronos .schedule{float:none;width:100%;text-align:left;min-height:30px;line-height:30px;}
	#pronos .teamsContainer{width:90%;margin-right:2%}
}
/* Homepage */
.pronosTable {font-size:15px;padding-bottom:20px;}
.pronosTable .control-label {display:inline;}
.pronosTable select {margin: 0px 5px;}
.pronosTable .teamA {text-align: right;}
.rowGame, .rowProno {border-spacing: 2px;border-bottom: 1px solid #dddddd;}
.pronosTable .schedule {width:130px;float:left;min-height:30px;line-height:30px;}
.pronosTable .separation {float:left;margin-left:2%}
.pronosTable .buttons{text-align:right;}
.pronosTable .buttons .btn {margin-bottom:5px;margin-right:5px;}
.currentGames p {text-align:center;font-size:1.3em;line-height:normal;margin-top:10px;}
@media (min-width: 1024px) {
	.rowGame, .rowProno {margin-top:5px;}
}
/* Landscape phone to portrait tablet */
@media (max-width: 1024px) {
	.pronosTable .schedule {width:130px;}
	.pronosTable .separation {display:none;}
	.pronosTable .teamA .control-label,.pronosTable .teamB .control-label {line-height: 30px;}
	.pronosTable .teamA,.pronosTable .teamB{width:100%;text-align:left;margin-left:2%!important;}
	.pronosTable .teamB{padding-top:5px;}
	.pronosTable .buttons{width:35px;float:left;}
	.pronosTable select{float:right;}
	.pronosTable .teamsContainer{border-left: 1px solid #dddddd;float:left;width:65%;margin-right:4%}
	.rowGame, .rowProno {border:none;margin-bottom:10px;}
}
@media (max-width: 767px) {
	.pronosTable .schedule {margin-right:2%;line-height:32px;width:80px;text-align: center;}
	.pronosTable .schedule span{padding-top:5px;}
}
@media (max-width: 480px) {
	.pronosTable {font-size:12px;padding-bottom:10px;}
	.pronosTable .schedule{float:none;width:100%;text-align:left;}
	.pronosTable .teamsContainer{width:85%;margin-right:2%}
	.pronosTable .buttons{width:12%;float:left;}
	.currentGames p {font-size:1.1em;}
}

/* Ranking */
table.table {font-size:14px;}
@media (max-width: 480px) {
	table.table {font-size:12px;}
}
/* Homepage Widgets */
#rankingWidget{
	color : #777;
	border-left:1px solid #777;
	margin: 0em 0em 0.5em 1em;
	padding-left:0.25em;
}
#rankingWidget ul {
	font-size: 10px;
	list-style-type: none;
	position:static;
	visibility:visible;
	border-top:none!important;
}
#rankingWidget ul li {text-overflow:ellipsis;white-space:nowrap;}