#betaImage {position:absolute;top:0;left:0;}

/* Pronos view */
#pronos .wrapper{border-bottom:1px solid #eeeeee;margin:5px 0px}
#pronos .gameWrapper{font-size: 18px;font-weight: bold;color: #333;padding:5px 0px;line-height:45px;}
#pronos .pronosWrapper{display:none;}
#pronos .schedule, #pronos .prono{display:inline;}
#pronos .prono, #pronos .scores{margin-left:25px;}
#pronos .icon-chevron-down, #pronos .icon-chevron-up{float:right;margin-top:15px;}

/* Homepage Widgets */
#rankingWidget ul {list-style-type: none;}
