<IfModule mod_rewrite.c>
	# Turn on the RewriteEngine
	RewriteEngine On
	# Rules
	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteCond %{REQUEST_FILENAME} !-d
	RewriteRule ^.*$ api.php [QSA,L]
</IfModule>